<ng-template #leftToolbar>
  <tk-toolbar-item
    title="{{ 'LANDING.ADMIN_PANEL' | translate }}"
    icon="list"
    (click)="showDialog()"
    tabindex="0"
    *tkIfPerm="'ADMIN_DIALOG#SHOW'"
  ></tk-toolbar-item>
</ng-template>
<tk-portal-page [permission]="permission" [leftToolbar]="leftToolbar">
  <div class="page">
    <p-galleria
      class="galleria"
      *ngIf="images?.length"
      [images]="images"
      [showCaption]="false"
      [showFilmstrip]="false"
    ></p-galleria>
    <span class="yammer yammer-no-data" *ngIf="isLoadingRssFeed"> {{ 'LANDING.LOADING' | translate }}</span>
    <span class="yammer yammer-no-data" *ngIf="showRssErrorMsg">{{ 'LANDING.RSS_ERROR' | translate }}</span>
    <p-listbox
      class="yammer"
      *ngIf="!isLoadingRssFeed && !showRssErrorMsg"
      [options]="messages"
      [(ngModel)]="selectedMsg"
      (onClick)="goToYammer($event)"
      [listStyle]="{ 'max-height': '390px' }"
    >
      <ng-template let-msg let-i="index" pTemplate="item">
        <div class="ui-helper-clearfix" style="width: auto;">
          <span>
            <div style="float: left; margin: 20px 10px 0 0;">{{ msg.value.message }}</div>
            <div style="float: right; margin: 20px 10px 0 0;">{{ msg.value.date | date: 'dd/MM/yyyy' }}</div>
          </span>
        </div>
      </ng-template>
    </p-listbox>
  </div>
  <p-dialog header="{{ 'LANDING.ADMIN_PANEL' | translate }}" [(visible)]="displayDialog">
    <div class="ui-g">
      <div class="ui-g-12">
        {{ 'LANDING.ADMIN_PANEL_INFO' | translate }}
      </div>
      <div class="ui-g-6">
        <p-dropdown
          [options]="availablePortals"
          [(ngModel)]="portal"
          [appendTo]="'body'"
          optionLabel="id"
          (onChange)="updatePageWithPortalInfo(portal)"
        >
        </p-dropdown>
      </div>
    </div>
  </p-dialog>
</tk-portal-page>
